# Funções do Excel em Python

## PROCV -> MERGE

In [27]:
import pandas as pd

# DataFrame que recebe informação
df1 = pd.DataFrame({'ID':['A1','B5','E3','A4'],
                    'Nome':['Ana','Carlos','Thiago','Pedro']})

# DataFrame de busca
df2 = pd.DataFrame({'ID':['Z9','B5','E3','A4'],
                    'Salario':[5000,3400,2500,8000]})

# Procv no Python
resultado = df1.merge(df2, on='ID', how='left')

# DataFrame final:
print('DataFrame 1')
print(f'{df1}')
print('DataFrame 2')
print(f'{df2}')
print('DataFrame final')
print(f'{resultado}')

DataFrame 1
   ID    Nome
0  A1     Ana
1  B5  Carlos
2  E3  Thiago
3  A4   Pedro
DataFrame 2
   ID  Salario
0  Z9     5000
1  B5     3400
2  E3     2500
3  A4     8000
DataFrame final
   ID    Nome  Salario
0  A1     Ana      NaN
1  B5  Carlos   3400.0
2  E3  Thiago   2500.0
3  A4   Pedro   8000.0

## TABELA DINÂMICA -> PIVOT TABLE

In [28]:
import pandas as pd

# Construindo o DataFrame exemplo
data = {'Região':['Norte','Sul','Norte','Sul','Norte','Sul'],
        'Produto':['A','A','B','B','A','B'],
        'Vendas':[100,150,200,50,300,100]}

df = pd.DataFrame(data)

# Constroi a tabela dinâmica
pivot_df = df.pivot_table(index='Região', columns='Produto',
                          values='Vendas', aggfunc='sum')

# Tabela dinâmica
pivot_df

Produto    A    B
Região
Norte    400  200
Sul      150  150

## SE -> NP.WHERE

In [35]:
import pandas as pd
import numpy as np

# Cria DataFrame
df = pd.DataFrame({'Id':[1, 2, 3, 4],
                   'Idade':[17,20,19,15]})

# Opção 1
df['Maior_de_Idade_1'] = np.where(df['Idade'] >= 18, 'Sim','Não')

# Opção 2
df['Maior_de_Idade_2'] = ['Sim' if Idade >= 18 else 'Não'
                        for Idade in df['Idade']]

print(df)

   Id  Idade Maior_de_Idade_1 Maior_de_Idade_2
0   1     17              Não              Não
1   2     20              Sim              Sim
2   3     19              Sim              Sim
3   4     15              Não              Não

## Outras funcionalidades

In [40]:
# Filtros
df[df['Maior_de_Idade_1'] == 'Sim']

# Ordenação
df.sort_values(by='Idade')

# Soma
df['Idade'].sum()

# Exclui duplicidades
df.drop_duplicates(subset='Id')

   Id  Idade Maior_de_Idade_1 Maior_de_Idade_2
0   1     17              Não              Não
1   2     20              Sim              Sim
2   3     19              Sim              Sim
3   4     15              Não              Não